/*
 * Copyright (C) 2022 FRANCOIS DEVILEZ
 *
 * Licensed under the Apache License, Version 2.0 (the "License");
 * you may not use this file except in compliance with the License.
 * You may obtain a copy of the License at
 *
 *      http://www.apache.org/licenses/LICENSE-2.0
 *
 * Unless required by applicable law or agreed to in writing, software
 * distributed under the License is distributed on an "AS IS" BASIS,
 * WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
 * See the License for the specific language governing permissions and
 * limitations under the License.
 */

#loginPageContainer{
    background-color: #729EA1;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

#loginPageContentContainer{
}

.loginInputSubmit{
    width: fit-content;
    border: none;
    background-color: #445775;
    color: white;
    text-transform: uppercase;
    padding: 10px 20px 10px 20px;
    border-radius: 5px;
    margin: 10px 0 0 0;
    transition: transform 0.1s;
}

.loginInputSubmit:active{
    transform: scale(1.1);
}

.loginInputSubmit:hover{
    transform: scale(1.1);
}

.loginForm{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 0 0 10px 0;
}

.invalidInput{
    border: 1px solid red;
}