/*
 * Copyright (C) 2022 FRANCOIS DEVILEZ
 *
 * Licensed under the Apache License, Version 2.0 (the "License");
 * you may not use this file except in compliance with the License.
 * You may obtain a copy of the License at
 *
 *      http://www.apache.org/licenses/LICENSE-2.0
 *
 * Unless required by applicable law or agreed to in writing, software
 * distributed under the License is distributed on an "AS IS" BASIS,
 * WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
 * See the License for the specific language governing permissions and
 * limitations under the License.
 */

#dashboardContainer{
    margin: 0 0 20px 0;
    min-width: 80vw;
}

#dashboardContentContainer{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 10px;
}

#dashboardGraphContainer{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    gap: 10px;
    width: 80vw;
}

#paginationContainer{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 20px;
    margin: 0 0 20px 0;
}

#logTableContainer{
    min-width: 80vw;
}

.paginationContainerButton{
    background-color: #729EA1;
    border-radius: 5px;
    color: white;
    padding: 10px;
    border: none;
}
