/*
 * Copyright (C) 2023 FRANCOIS DEVILEZ
 *
 * Licensed under the Apache License, Version 2.0 (the "License");
 * you may not use this file except in compliance with the License.
 * You may obtain a copy of the License at
 *
 *      http://www.apache.org/licenses/LICENSE-2.0
 *
 * Unless required by applicable law or agreed to in writing, software
 * distributed under the License is distributed on an "AS IS" BASIS,
 * WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
 * See the License for the specific language governing permissions and
 * limitations under the License.
 */

#masteredTechnologiesContainer{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    padding: 20px 0 0 0;
}

#masteredTechnologiesTableContainer{
    min-width: 800px;
}

.tableContainer{
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.table {
    min-width: 80vw;
    max-width: 90vw;
}

.adminButtons{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0 0 20px 0;
    gap: 10px;
    flex-wrap: wrap;
}

.technologiesTablesActionButton{
    min-width: 100px;
    background-color: #729EA1;
    border: none;
    border-radius: 5px;
    padding: 10px;
    color: white;
    text-transform: uppercase;
    cursor: pointer
}

.technologiesTablesActionButton:active {
    transform: scale(1.05);
}

@media only screen and (max-width: 600px){
    #masteredTechnologiesTableContainer{
        display: flex;
        justify-content: center;
        align-items: center;
        min-width: unset;
    }
}