#footerContainer{
    margin: 0;
    padding: 0;
    position: relative;
    background-color: #729EA1;
    width: 100%;
}

.spacer {
    aspect-ratio: 960/540;
    width: 100%;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    display: flex;
    justify-content: center;
    align-items: center;
}

#footerContentContainer{
    display: flex;
    justify-content: center;
    align-items: center;
}

.footerIcon{
    height: 50px;
    padding: 10px;
}

.footerIcon:hover{
    transform: scale(1.2);
    transition: transform 0.2s ease-in-out;
}

.footerIcon:active{
    transform: scale(1.3);
    transition: transform 0.1s ease-in-out;
}

#copyright{
    position: absolute;
    bottom: 0;
    text-align: center;
    font-size: 10px;
    color: white;
    padding: 0 0 20px 0;
}

@media only screen and (max-width: 600px) {
    #footerContentContainer{
        margin: 0 0 50px 0
    }
}