#aboutMeSection {
    background-color: #729EA1;
    width: 100%;
    margin: 0 0 120px 0;
}

#aboutMeSectionContent{
    min-height: 500px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#loginButtonContainer{
    width: 90vw;
    display: flex;
    justify-content: flex-end;
    align-items: center;
}

#loginButton{
    color: white;
    margin: 20px 20px 20px 0;
    width: fit-content;
}

#loginButton:hover{
    transform: scale(1.2);
    transition: transform 0.2s ease-in-out;
}

#loginButton:active{
    transform: scale(1.3);
    transition: transform 0.1s ease-in-out;
}

#logoutButtonContainer{
    width: 90vw;
    display: flex;
    justify-content: flex-end;
    align-items: center;
}

#logoutButton{
    color: white;
    margin: 20px 20px 20px 0;
    width: fit-content;
}

#logoutButton:hover{
    transform: scale(1.2);
    transition: transform 0.2s ease-in-out;
}

#logoutButton:active{
    transform: scale(1.3);
    transition: transform 0.1s ease-in-out;
}

#contentLayout{
    display: flex;
    justify-content: center;
    align-items: center;
    max-width: 90vw;
}

#textContainer {
    margin: 0 50px 0 0;
    display: flex;
    flex-direction: column;
}

.text{
    color: white;
    font-style: normal;
    font-weight: 500;
    font-size: 30px;
    line-height: 130%;
}

#secondText{
    margin: 0 0 50px 0;
}

#aboutMePicture{
    border-radius: 20px;
}

#aboutMeSectionBottomDivider {
    height: 100px;
    position: absolute;
    width: 100%;
    overflow: hidden;
}

#aboutMeSectionBottomDivider svg {
    display: block;
    width: calc(100% + 1px);
    height: 100px;
}

#cvDownloadButton {
    text-decoration: none;
    border: 1px solid white;
    border-radius: 20px;
    background-color: transparent;
    color: white;
    padding: 20px;
    width: fit-content;
}

#cvDownloadButton:hover{
    transform: scale(1.1);
    transition: transform 0.2s ease-in-out;
}

#cvDownloadButton:active{
    transform: scale(1.2);
    transition: transform 0.1s ease-in-out;
}

@media only screen and (max-width: 600px) {
    #contentLayout{
        flex-direction: column;
    }

    #textContainer{
        align-items: center;
        margin: 0;
    }

    .text{
        text-align: center;
    }

    #secondText{
        text-align: center;
        margin: 0 0 20px 0;
    }

    #cvDownloadButton{
        margin: 0 0 20px 0;
    }
}