/*
 * Copyright (C) 2022 FRANCOIS DEVILEZ
 *
 * Licensed under the Apache License, Version 2.0 (the "License");
 * you may not use this file except in compliance with the License.
 * You may obtain a copy of the License at
 *
 *      http://www.apache.org/licenses/LICENSE-2.0
 *
 * Unless required by applicable law or agreed to in writing, software
 * distributed under the License is distributed on an "AS IS" BASIS,
 * WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
 * See the License for the specific language governing permissions and
 * limitations under the License.
 */

.input {
    border: none;
    background-color: rgb(229, 229, 229);
    margin: 5px;
    padding: 5px;
    border-radius: 5px;
    text-align: center;
    width: 400px;
    color: black;
}

.validInput {
    border: 1px solid green;
}

.invalidInput{
    border: 1px solid red;
}

@media only screen and (max-width: 600px){
    .input{
        width: 70vw;
    }
}