/*
 * Copyright (C) 2022 FRANCOIS DEVILEZ
 *
 * Licensed under the Apache License, Version 2.0 (the "License");
 * you may not use this file except in compliance with the License.
 * You may obtain a copy of the License at
 *
 *      http://www.apache.org/licenses/LICENSE-2.0
 *
 * Unless required by applicable law or agreed to in writing, software
 * distributed under the License is distributed on an "AS IS" BASIS,
 * WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
 * See the License for the specific language governing permissions and
 * limitations under the License.
 */

.modal {
    position: fixed;
    inset: 0;
    background-color: rgba(0, 0, 0, 0.6);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    transition: all 0.3s ease-in-out;
    overflow: hidden;
    z-index: 999;
    padding: 40px 20px 20px;
}

.modalControls{

}

.modalContent{

}

.closeBtn{
    border: none;
    background-color: transparent;
}

.closeBtn:hover{
    transform: scale(1.2);
    transition: transform 0.2s ease-in-out;
}

.closeBtn:active{
    transform: scale(1.3);
    transition: transform 0.1s ease-in-out;
}

.closeBtnImg{
    width: 30px;
    height: 30px;
    border: none;
    background-color: transparent;
}