#experiencesSection {
    background-color: #729EA1;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
}

#experiencesSectionTitle {
    font-style: normal;
    font-weight: 500;
    font-size: 30px;
    line-height: 130%;
    margin: 0 0 20px 0;
    color: white;
}

#experiencesSectionContent {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    max-width: 1000px;
}

.show-more {
    color: #729EA1;
}