/*
 * Copyright (C) 2022 FRANCOIS DEVILEZ
 *
 * Licensed under the Apache License, Version 2.0 (the "License");
 * you may not use this file except in compliance with the License.
 * You may obtain a copy of the License at
 *
 *      http://www.apache.org/licenses/LICENSE-2.0
 *
 * Unless required by applicable law or agreed to in writing, software
 * distributed under the License is distributed on an "AS IS" BASIS,
 * WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
 * See the License for the specific language governing permissions and
 * limitations under the License.
 */

.tableContentContainer {
    overflow: scroll;
}


.tableIcon {
    height: 50px;
}

table {
    padding: 0;
    margin: 0;
    width: 100%
}

th {
    padding: 5px;
    margin: 0;
}

.lightCell {
    padding: 5px;
    margin: 0;
    text-align: center;
}

.tableHeader {
    white-space: nowrap;
}

.tableRow {
    white-space: break-spaces;
    padding: 5px;
    margin: 0;
    text-align: center;
}

.cellWithIcon {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-transform: capitalize;
}

.cellWithIconBackground {
    background-color: white;
    border-radius: 10%;
    width: 80px;
    height: 80px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-bottom: 10px;
}

.cellWithIconBackground > a {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.cellWithIconBackground > img {
    width: 60px;
}

.gitlabLinksButtons {
    background-color: #729EA1;
    border: none;
    border-radius: 5px;
    padding: 10px;
}

.lightGitlabLinks {
    text-decoration: none;
    color: white;
    text-transform: capitalize;
}

.lightGitlabLinks:visited {
    text-decoration: none;
    color: white;
}
